@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-element {
    @apply flex flex-col gap-2;
  }
  .form-label {
    @apply text-black font-semibold;
  }
  .input-box {
    @apply px-4 py-1 rounded-xl focus:ring-2 focus:ring-primary outline-none bg-secondary shadow-sm w-full;
  }
  .btn {
    @apply bg-primary w-full rounded-xl px-2 py-1 cursor-pointer bg-opacity-70 hover:bg-opacity-100 transition-all ease-in-out duration-200 font-semibold;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes popper {
    0% {
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
    50% {
      opacity: 0.8;
      transform: translateY(0px) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* Keyframes for the background loading effect */
  @keyframes backgroundLoader {
    0% {
      opacity: 50%;
    }
    50% {
      opacity: 75%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes widthExpansion {
    0% {
      opacity: 0%;
      width: 0;
    }
    50% {
      opacity: 50%;
      width: 50%;
    }
    100% {
      opacity: 100%;
      width:100%;
    }
  }

  .widthExpansion {
    animation: widthExpansion 0.3s linear;
  }
  .widthClose {
    animation: widthExpansion 0.3s linear reverse;
  }

  /* Background animation class */
  .backgroundLoader {
    animation: backgroundLoader 1s ease-in-out forwards;
  }

  .spinner {
    animation: spinner 1s linear infinite;
  }

  .popper {
    animation: popper 0.6s ease-out;
  }

 /* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 115, 0, 0.6);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

}
